<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{::#content}, ~{::title}, ~{::script})}">
<head>
  <title>Servies</title>
</head>
<body>
  <div id="content" class="dark:text-white">
    <h1>Welcome to Services Page</h1>
    <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam cumque necessitatibus aspernatur tenetur modi non fuga similique culpa iure ab. Illo suscipit, numquam facere doloremque adipisci quae modi ex assumenda.</h2>
</div>
<script>console.log("Services");</script>
</body>
</html>